*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: rgb(239, 239, 239);
    --primary-color: rgb(22, 22, 35);
    --secondary-color: rgb(29, 39, 59);
    --accent-color: rgb(218, 64, 55);
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column; /* Content and Play Bar */
    color: var(--text-color);
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.preloader .sound-bars{
    position: relative;
    width: 50px;
    height: 50px;
}

.preloader .bar{
    width: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #800080, var(--accent-color));
    position: absolute;
    bottom: 0;
}

.preloader .bar.bar1{
    animation: dance .5s ease alternate infinite;
    left: 0;
}
.preloader .bar.bar2{
    animation: dance .5s .2s ease alternate infinite;
    left: 50%;
    transform: translateX(-50%);
}
.preloader .bar.bar3{
    animation: dance .5s .4s ease alternate infinite;
    right: 0;
}

@keyframes dance{
    0%{
        height: 0px;
    }
    100%{
        height: 50px;
    }
}

.preloader.hidden{
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.content {
    display: flex; /* Sidebar and Window */
    flex-grow: 1; /* Takes the remaining height left by the Play Bar */
    max-height: calc(100vh - 100px); /* 100px is the height of the Play Bar */
}




/* Sidebar */
.content .sidebar{
    width: 300px;
    background: var(--primary-color);
    font-size: 1.3rem;
    padding: 20px 0;
}

.content .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

.content .sidebar a:nth-child(1){
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 900;
}

.content .sidebar a img{
    width: 40px;
    height: 40px;
}

.content .sidebar a i{
    transition: all .3s ease;
}

.content .sidebar a:nth-child(1) img{
    width: 60px;
    height: unset;
}

.content .sidebar a:hover:not(:nth-child(1)){
    background: var(--secondary-color);
}

/* Styles for the active playlist and icon */
.content .sidebar a.active:not(:nth-child(1)){
    transform: translateX(12px);
}
.content .sidebar a.active:not([data-target="favoriten"]) i {
    transform: rotate(90deg);
    scale: 1.1;
}

/* Styles for the playing playlist icon */
.content .sidebar a.playing i {
    color: var(--accent-color);
    scale: 1.1;
}





/* Window */
.content .window{
    flex-grow: 1;
    background: var(--primary-color);
    padding: 50px 50px 0 50px;
    overflow: hidden; /* hides overflowing songs */
}

.content .window .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.content .window .home h1{
    font-size: 7rem;
    font-weight: 900;
}

.content .window .home img{
    height: 300px;
}

.content .window .playlist .top{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px dotted var(--accent-color);
    height: 150px;
}

.content .window .playlist .top img{
    width: 100px;
    height: 100px;
}

.content .window .playlist .top .wrapper{ /* wrapper for Text */
    display: flex; 
    flex-direction: column;
    font-size: 1.5rem;
}

.content .window .playlist .top .wrapper h2{
    font-size: 3rem;
    font-weight: 900;
    color: var(--accent-color);
}

.content .window .playlist .songs{
    overflow-y: auto; /* adds scrollbar if songs exceed the height */
    max-height: calc(100vh - 340px); /* Adjust according to the size of other elements in the window */
}

/* Scrollbar Styling */
.songs {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: var(--accent-color) var(--primary-color); /* Thumb color, track color */
}

.content .window .playlist .songs a{
    display: grid;
    grid-template-columns: .5fr 1fr 2fr 2fr 70px; /* width of each column */
    align-items: center;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.content .window .playlist.favoriten .songs a{
    grid-template-columns: .5fr 1fr 2fr 2fr 1fr 20px; /* adds one more column for the X icon */
}

.content .window .playlist .songs a:hover{
    background: var(--secondary-color);
}

.content .window .playlist .songs a img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.playing-song {
    color: var(--accent-color);
}





/* Play Bar */
.play-bar{
    height: 100px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    border-top: 1px solid rgb(50, 42, 87);
}

.play-bar .song{
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-bar .song .cover img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.play-bar .song .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.play-bar .song .info span.name{
    font-size: 1.1rem;
    font-weight: 600;
}

.play-bar .song .info span.artist{
    font-size: 0.9rem;
}

.play-bar .navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute; /* centers it so it doesnt shift around when the song name is long */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-bar .navigation .buttons{
    display: flex;
    gap: 20px;
}

.play-bar .navigation .buttons button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--accent-color);
    color: white;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.play-bar .navigation .wrapper{ /* wrapper for the progress bar and time stamps */
    display: flex;
    align-items: center;
    gap: 30px;
}

.play-bar .navigation .progress-bar{
    width: 500px;
    height: 4px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    overflow: hidden;
}

.play-bar .navigation .progress-bar .progress{
    height: 100%;
    width: 0%; /* initial state */
    background: var(--accent-color);
    transition: width 0.1s linear;
}

.play-bar .controls{
    display: flex;
    gap: 25px;
}

.play-bar .controls i{
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

.play-bar .controls i.fa-heart {
    transition: color 0.3s ease;
}

.play-bar .controls i.fa-heart.animated {
    animation: heartBeat 0.6s; /* animated class is added onclick by js and plays heartBeat animation */
}

.play-bar .controls i.fa-heart.favorited {
    color: red; /* favorited class is added if song is in favorites playlist by js */
}

@keyframes heartBeat {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.3);
    }
}


.mobile-navbar{
    display: none;
}






/* Media Queries */

@media screen and (max-width: 1250px){
    .content {
        height: 100vh;
        max-height: unset;
    }

    .content .sidebar{
        display: none;
    }

    .mobile-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .mobile-navbar div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .mobile-navbar div i{
        font-size: 1.3rem;
    }

    .play-bar{
        position: fixed;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 99%;
        border-radius: 10px;
        border-top: 1px solid rgb(50, 42, 87);
    }
}