*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: rgb(239, 239, 239);
    --primary-color: rgb(22, 22, 35);
    --secondary-color: rgb(29, 39, 59);
    --accent-color: rgb(218, 64, 55);
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100svh;
    display: flex;
    flex-direction: column; /* Content and PlayBar */
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent; /* removes the Tap Highlight on Mobile Device if we klick a button */
}

/* Page Preloader */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.preloader .sound-bars{
    position: relative;
    width: 50px;
    height: 50px;
}
.preloader .bar{
    width: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #800080, var(--accent-color));
    position: absolute;
    bottom: 0;
    animation: dance .5s ease alternate infinite;
    animation-play-state: running !important; /* makes sure this animation is running since we pause the soundwaves on current playing song link depending on audio player play state */
}
.preloader .bar.bar1{
    left: 0;
}
.preloader .bar.bar2{
    animation-delay: .2s;
    left: 50%;
    transform: translateX(-50%);
}
.preloader .bar.bar3{
    animation-delay: .4s;
    right: 0;
}
@keyframes dance{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
/* this class will be added by js after a specified time delay to hide it */
.preloader.hidden{
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

/* mobile version initialy hidden */
.mobile-navbar{
    display: none;
}

.content {
    display: flex; /* Sidebar and Window */
    flex-grow: 1; /* Takes the remaining height left by the Play Bar */
    max-height: calc(100svh - 100px); /* 100px is the height of the Play Bar */
}




/* Sidebar */
.content .sidebar{
    width: 300px;
    background: var(--primary-color);
    font-size: 1.3rem;
    padding: 20px 0;
    z-index: 100;
}

.content .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

/* logo */
.content .sidebar a:nth-child(1){
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 900;
}
.content .sidebar a:nth-child(1) img{
    width: 60px;
    height: unset;
}

.content .sidebar a img{
    width: 40px;
    height: 40px;
}

.content .sidebar a i{
    transition: all .3s ease;
}

/* links hover effect but not on logo */
.content .sidebar a:hover:not(:nth-child(1)){
    background: var(--secondary-color);
}

/* Styles for the currently playing playlist */
.content .sidebar a.playing i {
    display: none; /* hides the original icon */
}

.content .sidebar a.playing .sound-bars{
    display: inline-block; /* shows the sound bars */
}

.content .sidebar a .sound-bars{
    position: relative;
    width: 15px;
    height: 15px;
    display: none; /* initially hidden */
}

.content .sidebar a .sound-bars .bar{
    width: 3px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #800080, var(--accent-color));
    position: absolute;
    bottom: 0;
    animation: dance .5s ease alternate infinite;
}

.content .sidebar a .sound-bars .bar.bar1{
    animation-delay: .1s; /* allows for initial height to work */
    height: 70%; /* set initial height so it looks like a soundwave on page load before animation is played */
    left: 0;
}
.content .sidebar a .sound-bars .bar.bar2{
    height: 40%;
    animation-delay: .3s;
    left: 50%;
    transform: translateX(-50%);
}
.content .sidebar a .sound-bars .bar.bar3{
    height: 90%;
    animation-delay: .5s;
    right: 0;
}





/* Window */
.content .window{
    flex-grow: 1;
    background: var(--primary-color);
    padding: 50px 50px 0 50px; 
    overflow: hidden; /* hides overflowing songs */
}

/* Home Section */
.content .window .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.content .window .home h1{
    font-size: 7rem;
    font-weight: 900;
}

.content .window .home img{
    height: 300px;
}

/* Heading of each Playlist */
.content .window .playlist .top{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px dotted var(--accent-color);
    height: 150px;
}

.content .window .playlist .top img{
    width: 100px;
    height: 100px;
}

/* wrapper for Text */
.content .window .playlist .top .wrapper{
    display: flex; 
    flex-direction: column;
    font-size: 1.5rem;
}

.content .window .playlist .top .wrapper h2{
    font-size: 3rem;
    font-weight: 900;
    color: var(--accent-color);
}

.content .window .playlist .songs{
    max-height: calc(100svh - 340px); /* Adjust according to the size of other elements in the window like playlists heading and playBar*/
    overflow-y: auto; /* adds scrollbar if songs exceed the height */
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: var(--accent-color) var(--primary-color); /* Thumb color, track color */
}

/* song links */
.content .window .playlist .songs a{
    display: grid;
    grid-template-columns: .5fr 1fr 2fr 2fr 70px; /* width of each column */
    align-items: center;
    font-size: 1.2rem;
    padding: 10px; /* better UX */
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.content .window .playlist.favoriten .songs a{
    grid-template-columns: .5fr 1fr 2fr 2fr 1fr 20px; /* adds one more column for the X icon in favoriten playlist */
}

.content .window .playlist .songs a span:nth-child(4) i{
    display: none; /* mobile version of song artist element initialy hidden */
}

/* highlight song links */
.content .window .playlist .songs a:hover{
    background: var(--secondary-color);
}

/* song cover img */
.content .window .playlist .songs a img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Styles for the currently playing song */
.content .window .playlist .songs a.playing-song {
    color: var(--accent-color);
}

.content .window .playlist .songs a.playing-song span:nth-child(1) {
    display: none; /* hides the original number listing */
}

.content .window .playlist .songs a.playing-song .sound-bars{
    display: inline-block; /* shows the sound bars */
}

.content .window .playlist .songs a .sound-bars{
    position: relative;
    width: 15px;
    height: 15px;
    display: none; /* initially hidden */
}

.content .window .playlist .songs a .sound-bars .bar{
    width: 3px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #800080, var(--accent-color));
    position: absolute;
    bottom: 0;
    animation: dance .5s ease alternate infinite;
}

.content .window .playlist .songs a .sound-bars .bar.bar1{
    animation-delay: .1s; /* allows for initial height to work */
    height: 70%; /* set initial height so it looks like a soundwave on page load before animation is played */
    left: 0;
}
.content .window .playlist .songs a .sound-bars .bar.bar2{
    height: 40%;
    animation-delay: .3s;
    left: 50%;
    transform: translateX(-50%);
}
.content .window .playlist .songs a .sound-bars .bar.bar3{
    height: 90%;
    animation-delay: .5s;
    right: 0;
}





/* Play Bar */
.play-bar{
    height: 100px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    z-index: 1000;
}

/* current song details */
.play-bar .song{
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-bar .song .cover img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* wrapper for name and artist */
.play-bar .song .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.play-bar .song .info span.name{
    font-size: 1.1rem;
    font-weight: 600;
}

.play-bar .song .info span.artist{
    font-size: 0.9rem;
}

.play-bar .navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute; /* puts it absolute position so it doesnt shift around when the song name is longer or shorter */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers it */
}

.play-bar .navigation .buttons{
    display: flex;
    gap: 20px;
}

.play-bar .navigation .buttons button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--accent-color);
    color: white;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

/* wrapper for the progress bar and time stamps */
.play-bar .navigation .wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.play-bar .navigation .progress-bar,
.progress-bar.mobile{
    width: 30vw;
    height: 4px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    overflow: hidden;
}

.play-bar .navigation .progress-bar .progress,
.progress-bar.mobile .progress{
    height: 100%;
    width: 0%; /* initial state */
    background: var(--accent-color);
    transition: width 0.1s linear;
}

/* like and mute controls */
.play-bar .controls{
    display: flex;
    gap: 25px;
}

.play-bar .controls i{
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

.play-bar .controls i.fa-heart {
    transition: color 0.3s ease;
}

/* animated class is added onclick by js and plays heartBeat animation */
.play-bar .controls i.fa-heart.animated {
    animation: heartBeat 0.6s;
}

/* favorited class is added by js if song is in favorites playlist and highlights the icon */
.play-bar .controls i.fa-heart.favorited {
    color: red;
}

@keyframes heartBeat {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.3);
    }
}

/* mobile version initialy hidden */
.progress-bar.mobile{
    display: none;
}

/* mobile version initialy hidden */
.mobile-playBar-navigation{
    display: none;
}













/* Media Queries */

@media screen and (max-width: 1250px){
    /* full height window */
    .content {
        height: 100svh;
        max-height: unset;
    }

    .content .window .home{
        padding-bottom: 50px; /* adds padding to the bottom to center the content verticaly since the window has top padding and not bot */
    }

    /* full screens "sidebar" which will be navigable with the mobile navbar */
    .content .sidebar{
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none; /* initially hidden */
    }

    /* wrapper to center the playlist links */
    .content .sidebar .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px;
    }
    
    /* song link */
    .content .sidebar a{
        width: 200px;
        margin: 0;
    }
    
    /* hide logo */
    .content .sidebar a:nth-child(1){
        display: none;
    }

    /* navbar between playlists and home */
    .content .mobile-navbar{
        background: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        gap: 10px;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px;
        padding: 0 20px;
        z-index: 200;
    }

    .content .mobile-navbar div a{
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-items: center;
        padding: 10px 20px;
    }

    .content .mobile-navbar div span{
        font-size: 1.1rem;
    }

    .content .mobile-navbar div i{
        font-size: 1.1rem;
        color: white;
        cursor: pointer;
    }


    /* floating style */
    .play-bar{
        position: fixed;
        bottom: 5px;
        left: 5px;
        right: 5px;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .content .window .home h1{
        font-size: 5rem;
    }
    
    .content .window .home img{
        height: 200px;
    }

    .play-bar .navigation{
        left: 55%; /* moves it a bit to the right */
    }
}





@media screen and (max-width: 1050px) {
    /* smaller playbar content */
    .play-bar{
        height: 90px;
    }

    .play-bar .navigation{
        gap: 15px;
    }
    
    .play-bar .song .cover img{
        width: 47px;
        height: 47px;
    }

    .play-bar .song .info span.name{
        font-size: 1rem;
    }
    
    .play-bar .song .info span.artist{
        font-size: 0.8rem;
    }
    
    .play-bar .navigation .buttons button{
        width: 33px;
        height: 33px;
    }
    
    .play-bar .navigation .wrapper{
        gap: 20px;
    }
    
    .play-bar .controls i{
        font-size: 1.3rem;
    }
}




@media screen and (max-width: 950px){
    /* adds padding to the top of the page to create space for the mobile navbar */
    .window{
        padding-top: 100px !important;
    }

    .content .window .home{
        padding-bottom: 100px; /* adjust bottom padding to keep content centered verticaly */
    }

    /* smaller Headings */
    .content .window .playlist .top{
        padding-bottom: 20px;
        margin-bottom: 20px;
        height: 120px;
    }

    .play-bar{
        bottom: 10px; /* moves it a bit up */
        overflow: hidden; /* hides the overflowing ends of the progress bar */
    }

    /* hide the desktop progress bar */
    .play-bar .navigation .wrapper{
        display: none;
    }

    /* show mobile progress bar */
    .progress-bar.mobile{
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0px;
        height: 2px;
    }
}

@media screen and (max-width: 870px){
    /* deleted the song artist on song links bc of space */
    .content .window .playlist .songs a span:nth-child(5){
        display: none;
    }
    /* adjust grid template */
    .content .window .playlist .songs a{
        grid-template-columns: .5fr 1fr 2fr 70px;
    }
    .content .window .playlist.favoriten .songs a{
        grid-template-columns: .5fr 1fr 2fr 1fr 20px;
    }

    .play-bar .navigation{
        left: 57%; /* moves it a bit to the right */
    }

    /* smaller padding */
    .play-bar{
        padding: 20px;
    }

    /* mobile version artist displayed beyond the song name in the same span */
    .content .window .playlist .songs a span:nth-child(4){ 
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    /* mobile artist element */
    .content .window .playlist .songs a span:nth-child(4) i{
        display: inline-block; /* shows it */
        font-size: .8rem;
        color: rgb(137, 137, 137);
    }
}

@media screen and (max-width: 800px){
    .play-bar .navigation{
        left: 58%; /* moves it a bit to the right */
    }
}

@media screen and (max-width: 650px){
    /* adjust grid space */
    .content .window .playlist .songs a{
        grid-template-columns: .5fr 1fr 3fr 70px;
    }
    .content .window .playlist.favoriten .songs a{
        grid-template-columns: .5fr 1fr 3fr 1fr 20px;
    }
    .window{
        padding: 100px 20px 0 20px !important;
    }

    .play-bar .navigation .buttons #prev,
    .play-bar .navigation .buttons #next{
        display: none; /* hides the prev and next buttons bc of space*/
    }
    
    .play-bar .navigation{
        left: unset;
        right: 45px; /* moves play button to the right next to the fav button */
    }

    .play-bar .controls #volume-control{
        display: none; /* hides the volume control */
    }

    /* shift class is added by js if we click on the playBar and it moves it up to show the mobile playBar Navigation with the prev, next and mute buttons */
    .play-bar.shift{
        bottom: 65px;
    }

    /* mobile version navigation initialy hidden behind the playbar */
    .mobile-playBar-navigation{
        opacity: 0;
        position: fixed;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 40px;
        background: var(--secondary-color);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 10px;
        transition: all 1s ease;
        z-index: 500;
    }

    .mobile-playBar-navigation button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: var(--accent-color);
        color: white;
        font-size: .9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    /* hides song duration on song links bc of space */
    .content .window .playlist .songs a span:nth-child(6){
        display: none;
    }
    /* adjust grid template */
    .content .window .playlist .songs a{
        grid-template-columns: .5fr 1fr 2fr;
    }
    .content .window .playlist.favoriten .songs a{
        grid-template-columns: .5fr 1fr 2fr 20px;
    }
    /* smaller font */
    .content .window .playlist .songs a{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 450px){
    /* smaller buttons */
    .play-bar .navigation .buttons button{
        width: 30px;
        height: 30px;
    }
    .mobile-playBar-navigation button{
        width: 30px;
        height: 30px;
    }
    .play-bar .navigation{
        right: 45px; /* adjusts the position of the play button */
    }
}

@media screen and (max-width: 410px){
    /* smaller font */
    .content .window .playlist .songs a{
        font-size: 1rem;
    }

    /* smaller playlists headings */
    .content .window .playlist .top{
        padding-bottom: 0px;
        margin-bottom: 30px;
        height: 100px;
        gap: 30px;
    }
    .content .window .playlist .top .wrapper{
        font-size: 1.3rem;
    }
    .content .window .playlist .top img{
        width: 80px;
        height: 80px;
    }
    .content .window .playlist .top .wrapper h2{
        font-size: 2.5rem;
    }
    

    /* more height for songs since heading is smaller*/
    .content .window .playlist .songs{
        max-height: calc(100svh - 330px); 
    }

    /* more space available for the song name */
    .content .window .playlist .songs a{
        grid-template-columns: .5fr 1fr 3fr;
    }
    .content .window .playlist.favoriten .songs a{
        grid-template-columns: .5fr 1fr 3fr 20px;
    }

    .play-bar{
        padding-left: 10px; /* reduced */
    }
    .play-bar .song{
        gap: 10px; /* reduced */
    }

    /* rules for song names that are too long to show fully */
    .play-bar .song .info span.name{
        max-width: 150px;  /* limits the width */
        white-space: nowrap; /* prevents the text from wrapping */
        overflow: hidden;
        text-overflow: ellipsis; /* adds ... if the text overflows */
    }
}

@media screen and (max-width: 320px){
    /* smaller playlist headings */
    .content .window .playlist .top{
        padding-bottom: 0px;
        margin-bottom: 30px;
        height: 80px;
        gap: 20px;
    }
    .content .window .playlist .top .wrapper{
        font-size: 1.2rem;
    }
    .content .window .playlist .top img{
        width: 70px;
        height: 70px;
    }
    .content .window .playlist .top .wrapper h2{
        font-size: 2rem;
    }
    
    /* more height for songs since heading is smaller*/
    .content .window .playlist .songs{
        max-height: calc(100svh - 310px);
    }
}